
#include <windows.h>
#include <richedit.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST    "webview2-mingw.manifest"

IDI_MAINFRAME ICON DISCARDABLE "webview2-mingw.ico"

